@font-face {
    font-family: fontGame;
    src: url(font/Pony.ttf);
}

.game {
    background-image: url("../assets/bgGame.png");
    width:100%;
    height: 100%;
    position: fixed;
    font-family: fontGame;
}

.btnGame {
    width: 200px;
    height: 200px;
    font-size: 50px;
    background-color: rgb(185, 1, 108);
    color: #ffffff;
    border: 5px solid rgb(78, 255, 78);
    border-radius: 5px;
}

.btn-danger:focus {
    box-shadow: none;
}

.font-size-ThongTinTroChoi {
    font-size: 40px;
}

